<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stimulus On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to "jQuery", "http://localhost:3000" %></li>
      <li><%= link_to "Stimulus", "http://localhost:3001" %></li>
    </ul>

    <hr>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
